@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 300 600 800;
  font-display: swap;
  src: url("/fonts/NunitoSans.ttf") format("ttf");
}

@theme {
  /* Color */
  --color-*: initial;
  --color-dark-blue: hsl(209, 23%, 22%); /* Dark Mode Elements */
  --color-very-dark-blue: hsl(207, 26%, 17%); /* Dark Mode Background */
  --color-tvery-dark-blue: hsl(200, 15%, 8%); /* Light Mode Text */
  --color-dark-gray: hsl(0, 0%, 52%); /* Light Mode Input */
  --color-very-light-gray: hsl(0, 0%, 98%); /* Light Mode Background */
  --color-white: hsl(0, 0%, 100%); /* Dark Mode Text & Light Mode Elements */

  /* Font */
  --font-nunito-sans: "NunitoSans", sans-serif;

  /* Break Points */
  --breakpoint-sm: 500px;
}
